.flleft {

	@include breakpoint(medium only) {
		float: left;
		width: 50%;
	}
}

.mrgtop {

	@include breakpoint(medium only) {
		margin-top: 30px;
	}
}

.detail-icon {
	font-size: 25px;
	line-height: 25px;
	color: $text-dark-grey;
	margin-right: 25px;
	float: left;
}

hr {
	width: 45px !important;
}

.extra {
	font-size: 30px;
}

.tac {
	text-align: center;
}

.double-line-height {
	line-height: 50px;
}

.advert-detail-header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	min-width: 100vw;
	min-height: 60vh;
	background-color: $dark-blue;
	z-index: -1;

	.boeking-button {
		position: relative;
		display: block;
		height: 55px;
		border-radius: 5px;
		background-color: $light-red;
		@include font($paragraph-font-family, regular, regular, 20, 55, $text-white);
		text-decoration: none;
		text-align: center;
	}

	.advert-detail-title-container {
		align-self: center;
		text-align: center;
		margin-top: 5%;
		margin-bottom: 5%;
		width: 60%;

		@include breakpoint(medium down) {
			width: 95%;
		}

		@include breakpoint(large) {
			width: 70%;
		}

		@include breakpoint(105em) { 
			width: 50%;
		}

		@include breakpoint(120em) { 
			width: 50%;
		}

		img {
			width: 120px;
			height: 120px;
			border-radius: 50%;
			margin-bottom: 3%;
		}
	}

	.advert-detail-title, .advert-detail-subtitle {
		@include font($header-font-family, regular, regular, 36, 46.8, $text-white);
		text-align: center;
	}

	.advert-detail-title {
		margin-bottom: 15px;

		@include breakpoint(small) { 
			font-size: rem-calc(22);
			line-height: rem-calc(24);
		}

		@include breakpoint(medium) { 
			font-size: rem-calc(25);
			line-height: rem-calc(30);
		}

		@include breakpoint(120em) { 
			font-size: rem-calc(33);
			line-height: rem-calc(42);
		}
	}

	.advert-detail-subtitle {
		
		@include breakpoint(small) { 
			font-size: rem-calc(18);
			line-height: rem-calc(22);
			margin-bottom: 25px;
		}

		@include breakpoint(medium) { 
			font-size: rem-calc(18);
			line-height: rem-calc(22);
			margin-bottom: 10px;
		}

		@include breakpoint(large) {
			font-size: rem-calc(18);
			line-height: rem-calc(22);
			margin-bottom: 0px;
		}

		@include breakpoint(120em) { 
			font-size: rem-calc(20);
			line-height: rem-calc(24);
			margin-bottom: 0px;
		}
	}
}

.advert-detail-button-container {
	display: flex;
	@include grid-row;

	.boeking-button {
		display: block;
		height: 55px;
		margin-top: -27.5px;
		margin-bottom: 70px;
		border-radius: 5px;
		background-color: $light-red;
		@include font($paragraph-font-family, regular, regular, 20, 55, $text-white);
		text-decoration: none;
		text-align: center;
		z-index: 0;

		&:hover {
			background-color: darken($light-red, 5%);
			transition: all 0.3s ease;
		}

		&:active {
			background-color: darken($light-red, 5%);
		}

		@include breakpoint(small) { 
			@include font($paragraph-font-family, regular, regular, 16, 55, $text-white);
		}

		@include breakpoint(medium) { 
			@include font($paragraph-font-family, regular, regular, 20, 55, $text-white);
		}
	}
}

.advert-detail-calendar {

	p {
		@include font($paragraph-font-family, regular, regular, 14, 18.9, rgba($text-dark-grey, 0.8));
		line-height: 25px !important;
	}
	
	.description-items-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		margin-top: 35px;

		.vertical-line {
			border: 1px solid $border-color-light-grey;
			min-height: 77px;
			width: 1px;
		}

		.description-item ul {
			margin: 0;
		}

		.description-item ul li:not(:last-child) {
			margin-bottom: 25px;
		}

		.description-item ul li {
			text-align: left;
			list-style-type: none;
			color: white;
			vertical-align: middle;
		}
		
		.description-item ul li label:before {
			margin-right: 25px;
			font-size: rem-calc(25);
			color: $text-dark-grey;
			vertical-align: middle;
		}
	}
}

.advert-detail-map {
	margin-top: 50px;
	
	p {
		line-height: 25px !important;
	}

	iframe {
		width: 100%;
		height: 260px;

		@include breakpoint(small) { 
			margin-bottom: 30px;
		}

		@include breakpoint(medium) { 
			margin-bottom: 0px;
		}
	}
}

.advert-detail-services {
	@include grid-row;
	margin-top: 50px;
	
	.services-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		margin-top: 35px;

		.vertical-line {
			border: 1px solid $border-color-light-grey;
			min-height: 77px;
			width: 1px;
		}

		.service ul {
			margin: 0;
		}

		.service ul li:not(:last-child) {
			margin-bottom: 25px;
		}

		.service ul li {
			text-align: left;
			list-style-type: none;
			color: white;
			vertical-align: middle;
		}
		
		.service ul li label:before {
			margin-right: 25px;
			font-size: rem-calc(25);
			color: $text-dark-grey;
			vertical-align: middle;
		}
	}
}

.advert-detail-ratings {
	margin-top: 50px;

	.reviewdescription {

		@include breakpoint(small) { 
			min-height: 50px;
		}

		@include breakpoint(medium) { 
			min-height: 70px;
		}

		@include breakpoint(large) { 
			min-height: 120px;
			max-height: 120px;
		}
	}

	img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}

	.lhplus {
		line-height: 40px;
	}

	i {
		color: $border-color-light-grey;
		line-height: 28px;
	}

	.rate-button {
		width: 125px;
		height: 28px;
		text-decoration: none;
		background-color: $light-grey-alt;
		border-radius: 3px;
		text-align: center;

		&:hover {
			background-color: darken($light-grey-alt, 5%);
			transition: all 0.3s ease;
		}

		&:active {
			background-color: darken($light-grey-alt, 5%);
		}

		span {
			font-size: 16px;
			line-height: 28px;
			width: 16px;
			margin-left: 20px;
			margin-right: -15px;
		}

		p {
			font-size: 10px;
			line-height: 28px;
		}
	}

	.mbot {
		margin-bottom: 30px;
	}

	.pagination-style {
		float: left;
		margin-left: -10px;
	}
}

.test {
	background-color: $light-grey-alt;
}
.advert-detail-container {
	padding-top: 40px;
	padding-bottom: 40px;


	.advert, .advert-price, .advert-spots {
		background-color: $white !important;
	}

	.advert-price, .advert-spots {
		border: 1px solid $border-color-light-grey;
	}
}