// Styling of the introductory header with image background

.advert-overview-header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	min-width: 100%;
	min-height: 80%;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;

	.advert-overview-header-container {
		align-self: center;
		//margin-top: 8%;
		//margin-bottom: 12%;
		width: 60%;

		@include breakpoint(medium down) {
			width: 95%;
			margin-top: 20px;
			margin-bottom: 120px;
		}

		@include breakpoint(large) {
			width: 70%;
			margin-top: 115px;
			margin-bottom: 175px;
		}

		@include breakpoint(105em) { 
			width: 50%;
			margin-top: 115px;
			margin-bottom: 175px;
		}

		@include breakpoint(120em) { 
			width: 50%;
		}
	}

	.advert-overview-header, .advert-overview-subheader {
		color: $text-white !important;
		text-align: center;
	}

	.advert-overview-header {
		margin-bottom: 25px;

		@include breakpoint(small) { 
			font-size: rem-calc(35);
			line-height: rem-calc(42);
		}

		@include breakpoint(medium) { 
			font-size: rem-calc(40);
			line-height: rem-calc(48);
		}

		@include breakpoint(large) { 
			font-size: rem-calc(45);
			line-height: rem-calc(54);
		}

		@include breakpoint(120em) { 
			font-size: rem-calc(55);
			line-height: rem-calc(66);
		}
	}

	.advert-overview-subheader {

		@include breakpoint(small) { 
			font-size: rem-calc(20);
			line-height: rem-calc(24);
		}

		@include breakpoint(medium) { 
			font-size: rem-calc(25);
			line-height: rem-calc(30);
		}

		@include breakpoint(large) {
			font-size: rem-calc(30);
			line-height: rem-calc(36);
		}

		@include breakpoint(120em) { 
			font-size: rem-calc(32);
			line-height: rem-calc(38.4);
		}
	}
}

// Styling of search function used for large screens and larger

.advert-search-form {
	@include show-for(large);
	align-self: center;

	@include breakpoint(large) {
		width: 60%;
	}

	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;

	.search-region {
		width: 50%;
		border-radius: 3px 0 0 3px;
	}

	.search-date {
		width: 16.67%;
		border-left: none !important;
		border-right: none !important;
	}

	.search-price {
		border-left: none !important;
		border-right: none !important;
	}

	.search-spots {
		border-right: none !important;
	}

	.search-price, .search-spots, .search-submit {
		width: 16.67%;
	}

	.search-price, .search-spots, .search-submit, search-region {
		display: inline-block;
		margin: 0;
	}

	input:not([type=submit]):not([type=file]), select {
		@include font($paragraph-font-family, normal, regular, 14, 19, $text-dark-grey);
		text-decoration: none;
		background-color: $white;
		border: 1px solid $border-color-light-grey;
		padding: 10px 15px 10px 15px;
		margin-bottom: 0;

		&::-webkit-input-placeholder {
			color: $text-dark-grey;
		}

		&::-moz-placeholder {
			color: $text-dark-grey;
		}

		&:focus, &:hover, &:active {
			background-color: $white;
			border: 1px solid $border-color-light-grey;
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
			outline: none;
		}
	}

	input[type=submit] {
		@include font($paragraph-font-family, regular, regular, 14, 19, $text-white);
		background-color: $light-red;
		padding: 10px 35px 10px 35px;
		border: none;
		border-radius: 0 3px 3px 0;
	}
}

.loading-div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.56);
	z-index: 999;
	display: none;

	img {
		margin-top: 20%;
		margin-left: 50%;
	}
}

// Styling of the search form used for medium screens and smaller

#mobile-search-form-button {
	@include hide-for(large);
	@include button($light-red, 3px);
	@include font($paragraph-font-family, regular, 500, 18, 19, $text-white);
	padding: 15px 20px 15px 20px;

	&:before {
		font-size: rem-calc(16);
		color: $text-white;
		margin-right: 10px;
	}

	@include breakpoint(small) { 
		width: 50%;
	}

	@include breakpoint(medium) { 
		width: 30%;
	}
}

.mobile-search-form-container {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1;
	background-color: $light-grey-alt;
	display: none;
	padding: 40px 20px 40px 20px;
	overflow: auto;

	.mobile-search-form {
		@include grid-column(12);
	}
}

.mobile-search-form-header {
	text-align: center !important;
	margin-top: 20px;

	@include breakpoint(small) {
		@include grid-column(12);
		@include grid-column-position(center);
	}

	h2 {
		@include breakpoint(small) {
			@include font($header-font-family, regular, regular, 30, 36, $text-dark-grey);
		}

		@include breakpoint(medium) {
			@include font($header-font-family, regular, regular, 36, 42, $text-dark-grey);
		}
	}

	.blue-horizontal-line {
		text-align: center !important;
		display: inline-block !important;
	}
}

.mobile-search-form .search-date-mobile {
	margin-bottom: 20px;
}

.advert-search-form-mobile {
	input[type=text], select {
		@include font($paragraph-font-family, normal, regular, 14, 19, $text-dark-grey);
		text-decoration: none;
		background-color: $white;
		border: 1px solid $border-color-light-grey;
		border-radius: 3px;
		padding: 10px 15px 10px 15px;
		margin-bottom: 20px;
		height: 45px;

		&::-webkit-input-placeholder {
			color: $text-dark-grey;
		}

		&::-moz-placeholder {
			color: $text-dark-grey;
		}

		&:focus, &:hover, &:active {
			background-color: $white;
			border: 1px solid $border-color-light-grey;
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
			outline: none;
		}
	}

	input[type=submit] {
		@include font($paragraph-font-family, regular, regular, 14, 19, $text-white);
		background-color: $light-red;
		padding: 10px 35px 10px 35px;
		border: none;
		border-radius: 3px;
		width: 100%;
	}
}

// Styling of the advert overview container

.advert-overview-container, .search-advert-overview-container {
	@include grid-row;
	margin-top: 40px;
}

.advert-overview-filter, .search-advert-overview-filter {
	@include font($paragraph-font-family, regular, regular, 14, 14, $text-dark-grey);
	background-color: $light-grey;
	border: 1px solid $border-color-light-grey;
	border-radius: 3px;
}

// Styling of the search container when there are no search results

.advert-overview-no-search-container {
	@include grid-column(12);

	.no-search-results-container {
		@include grid-column(12);
		padding: 80px 40px 80px 40px;
		background-color: $light-grey;
		text-align: center;

		.no-adverts-icon {
			font-size: rem-calc(120);
			color: $border-color-dark-grey;
		}

		.no-adverts-title {
			@include font($paragraph-font-family, regular, regular, 14, 21, rgba($text-dark-grey, 0.4));
			margin-bottom: 0;
		}
	}
}

@include breakpoint(medium down) {
	.advert-overview-no-search-container .no-search-results-container {
		.no-adverts-icon {
			font-size: rem-calc(100);
		}

		.no-search-results-container {
			padding: 60px 20px 60px 20px;
		}
	}
}