// Styling of the introductory header

.availability-date-item > a::after, .availability-events td a::after {
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-top: 5px;
	position: relative;
	text-align: center !important;
	left: 49%;
}

.availability-events td a::after {
	background-color: $light-red;
}

.availability-date-item > a::after {
	background-color: green !important;
}

.full-width-advert-create {
	min-width: 100%;
	height: auto;
}

.full-height-gradient {
	min-width: 100%;
	min-height: 100%;
	display: flex;
	background: linear-gradient(-225deg, #57B9F6 0%, $dark-blue 100%);
	left: 0;
	top: 0;
	position: absolute;
	z-index: -1;
}

.advert-create-container {
	@include grid-row;

	.advert-create-header {
		@include font($header-font-family, regular, regular, 45, 54, $text-white);
		text-align: center;
		margin-bottom: 30px;
	}

	.advert-create-subheader {
		@include font($header-font-family, regular, regular, 30, 36, $light-blue);
		text-align: center;
	}
}

.advert-create-introductory-header {
	@include grid-column(12);
	margin-top: 120px;
	margin-bottom: 120px;
}

// Styling of the advert create form and all of its components

.advert-create-form-container {
	display: flex;
	margin: 0 auto 0 auto;
	background-color: $white;
	border-radius: 3px;
	box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.2);

	@include breakpoint(small) {
		width: 94%;
	}

	@include breakpoint(large) {
		width: 97.3%;
	}

	.advert-create-form {
		padding: 60px 20px 60px 20px;
	}

	// Styling for all form containers

	.form-description-container, .form-number-spots-container,
	.form-contact-information-container, .form-transportation-container,
	.form-services-container, .form-availability-container, .form-error-container,
	.form-submit-container, .form-school-container, .form-number-children-container {
		@include grid-column(12);
		margin-bottom: 50px;
	}

	@include breakpoint(large) {
		/*.form-description-container, .form-contact-information-container {
			@include grid-column(7);
		}

		.form-number-spots-container, .form-transportation-container {
			@include grid-column(5);
		}*/

		.form-number-spots-container, .form-description-container, .form-contact-information-container {
			@include grid-column(7);
		}

		.form-number-children-container, .form-transportation-container, .form-school-container {
			@include grid-column(5);
		}
	}

	.form-header {
		@include font($header-font-family, regular, regular, 24, 30, $text-dark-grey);
	}

	.blue-horizontal-line {
		margin-bottom: 25px;
	}

	.form-subheader {
		@include font($paragraph-font-family, regular, regular, 14, 22, rgba($text-dark-grey, 0.8));
		margin-bottom: 25px;
	}

	.form-error {
		margin-top: 20px !important;
	}

	.form-icon-input-field {
		margin-bottom: 30px;

		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(6);
		}
	}

	// Styling of the description container

	.form-description-container textarea {
		margin-bottom: 0;
	}

	// Styling of the number children container

	.advert-add-child-button {
		@include button(transparent, 3px);
		border: 1px solid rgba($text-dark-grey, 0.4);
		color: rgba($text-dark-grey, 0.6);
		text-align: center;
		padding: 12px;
		text-decoration: none;
		display: inline-block;
		width: 100%;
	}

	// Styling of the number spots container

	.form-number-spots-radio-buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.form-number-spots-container label {
		@include font($header-font-family, regular, regular, 17, 17, rgba($text-dark-grey, 0.6));
		width: 35px;
		height: 35px;
		background-color: rgba($dark-grey, 0.1);
		padding-top: 8px;
		margin-right: 20px;
		margin-top: 15px;

		&:hover {
			background-color: rgba($dark-grey, 0.6);
			color: $text-white;
		}
	}

	input[type="radio"] {
		margin-bottom: 0;
		padding: 0;
		display: none;
	}

	.radio-selected {
		background-color: rgba($dark-grey, 0.6) !important;
		color: $text-white !important;
	}

	// Styling of the contact information container

	.form-icon-input-container {
		border: none;    
		display: flex;
		flex-direction: row;

		input {
			margin-bottom: 0;
		}

		.form-icon {
			font-size: rem-calc(25);
			color: rgba($text-dark-grey, 0.6);
			padding: 6px 0 0 0;
			margin-right: 20px;
		}

		.form-input {
			flex: 1;
		}
	}

	// Styling of the transportation container

	.form-transportation-container ul {
		margin: 0;
	}

	.transportation-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	
		.vertical-line {
			border: 1px solid $border-color-light-grey;
			min-height: 95px;
			width: 1px;
		}

		.transportation ul {
			margin: 0;
		}

		.transportation ul li {
			text-align: left;
			list-style-type: none;
			padding: 7px 0 7px 0!important;
		}

		.transportation ul li:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	@include breakpoint(small only) {
		.transportation-container-mobile ul li {
			@include grid-column(12);
			list-style-type: none;
			border: 1px solid $border-color-light-grey;
			padding: 15px !important;
		}

		.transportation-container-mobile ul li:nth-child(even) {
			border-top: none;
			border-bottom: none;
		}

		.transportation-container-mobile ul li:last-child {
			border-bottom: 1px solid $border-color-light-grey;
		}
	}

	@include breakpoint(medium only) {
		.transportation-container-mobile ul li {
			@include grid-column(6);
			list-style-type: none;
			border: 1px solid $border-color-light-grey;
			padding: 15px !important;
		}

		.transportation-container-mobile ul li:nth-child(odd) {
			border-right: none;
		}

		.transportation-container-mobile ul li:nth-child(-n+2) {
			border-bottom: none;
		}
	}

	// Styling of the services container for large and up screens

	.services-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		margin-top: 35px;

		.vertical-line {
			border: 1px solid $border-color-light-grey;
			min-height: 77px;
			width: 1px;
		}

		.service ul {
			margin: 0;
		}

		.service ul li:not(:last-child) {
			margin-bottom: 25px;
		}

		.service ul li {
			text-align: left;
			list-style-type: none;
			color: white;
		}

		.checkbox label span {
			margin-right: 25px;
		}
	}

	// Styling of the services container for medium and smaller screens

	@include breakpoint(small only) {
		.services-container-mobile ul {
			margin: 0;
		}

		.services-container-mobile ul li {
			@include grid-column(12);
			list-style-type: none;
			border: 1px solid $border-color-light-grey;
			padding: 15px;
		}

		.services-container-mobile ul li:nth-child(even) {
			border-top: none;
			border-bottom: none;
		}

		.services-container-mobile ul li:last-child {
			border-bottom: 1px solid $border-color-light-grey;
		}
	}

	@include breakpoint(medium only) {
		.services-container-mobile ul {
			margin: 0;
		}

		.services-container-mobile ul li {
			@include grid-column(6);
			list-style-type: none;
			border: 1px solid $border-color-light-grey;
			padding: 15px;
		}

		.services-container-mobile ul li:nth-child(odd) {
			border-right: none;
		}

		.services-container-mobile ul li:nth-child(-n+2) {
			border-bottom: none;
		}

		.services-container-mobile ul li:nth-last-child(-n+2) {
			border-top: none;
		}
	}

	// Styling of the advert-availability container

	.availability-datepicker-container {
		padding-left: 0;
	}
		
	.advert-availability-input-fields {
		display: flex;
		justify-content: center;
		align-items: center;

		padding: 25px;
		background-color: $light-grey;
		height: 317px;
		overflow-y: auto;

		.availability-slot-duration {
			@include grid-column(1);
			padding: 0 !important;
			margin-top: 30px;
			text-align: center;

			&:before {
				font-size: rem-calc(20);
				color: rgba($text-dark-grey, 0.6);
			}
		}

		.availability-slot-remove {
			@include grid-column(1);
			padding: 0 !important;
			margin-top: 30px;
			text-align: center;

			&:before {
				font-size: rem-calc(13);
				color: rgba($text-dark-grey, 0.6);
			}
		}
	}

	// Alternative availability selection

	.advert-availability-slots {
		background-color: $light-grey;
		border-radius: 3px;
		margin-top: 30px;
		padding-top: 30px;
		min-width: 100%;
		max-height: 500px;
		overflow-y: auto;
		overflow-x: hidden;
		display: none;
	}

	.availability-slot-container {
		margin-bottom: 30px;

		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(large) {
			@include grid-column(6);
		}
	}

	.availability-slot {
		display: inline-block;
		background-color: $white;
		border: 1px solid rgba($dark-grey, 0.4);
		border-radius: 3px;
		width: 100%;

		div {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		input {
			margin-bottom: 0;
			padding-bottom: 5px;
		}

		input[type="date"] {
			display: none;
		}

		.selected-date {
			border-right: 1px solid rgba($dark-grey, 0.4);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.selected-date p:first-of-type {
			margin-bottom: 10px;
		}

		.selected-date p {
			@include font($paragraph-font-family, regular, regular, 14, 18, $text-dark-grey);
			margin-bottom: 0;
		}

		.availability-slot-duration {
			padding: 0 !important;
			margin-top: 20px;
			text-align: center;
		}

		.availability-slot-duration::before {
			font-size: rem-calc(20);
			color: rgba($text-dark-grey, 0.6);
		}

		.remove-availability-slot {
			cursor: pointer !important;
			margin-top: 9px;
		}

		.remove-availability-slot::before {
			font-size: rem-calc(13);
			color: rgba($text-dark-grey, 0.6);
		}
	}

	.advert-availability-month .date-month {
		margin-bottom: 25px;
		margin-left: 2px;

		p {
			@include font($header-font-family, regular, regular, 20, 20, rgba($text-dark-grey, 0.8));
			margin-bottom: 0;
		}
	}

	// Styling of the error container

	.form-error-container {
		display: none;
		
		p {
			background-color: rgba($light-red, 0.2);
			border: 1px solid lighten($light-red, 10%);
			padding: 15px;
			margin-bottom: 0;
		}
	}

	// Styling of the submit container

	.form-submit-container {
		margin-bottom: 0;

		p {
			@include font($paragraph-font-family, regular, regular, 14, 14, $text-dark-grey);
			margin-bottom: 30px;
		}

		#advert-create-button {
			@include button($light-red, 3px);
		}
	}
}

// Responsiveness

@include breakpoint(small only) {
	.advert-create-introductory-header {
		margin-top: 90px;
		margin-bottom: 90px;
	}

	.advert-create-container .advert-create-header {
		@include font($header-font-family, regular, regular, 28, 37, $text-white);
		margin-bottom: 30px;
	}

	.advert-create-container .advert-create-subheader {
		@include font($header-font-family, regular, regular, 20, 24, $light-blue);
	}

	.advert-create-form-container {
		.form-subheader {
			margin-bottom: 30px;
		}

		.form-icon-input-field {
			padding-left: 0;
			margin-bottom: 40px;
		}

		.form-icon-input-field:last-of-type {
			margin-bottom: 0;
		}

		.transportation-checkbox:nth-of-type(1), .transportation-checkbox:nth-of-type(3)  {
			padding-left: 0;
		}

		.transportation-checkbox:nth-of-type(2), .transportation-checkbox:nth-of-type(4)  {
			padding-right: 0;
		}
	}
}

@include breakpoint(medium only) {
	.advert-create-form-container {
		.form-subheader {
			margin-bottom: 30px;
		}

		.form-icon-input-field {
			padding-left: 0;
			margin-bottom: 40px;
		}
	}
}

@include breakpoint(xlarge) {
	.advert-create-form-container {
		.transportation-checkbox:nth-of-type(3), .transportation-checkbox:nth-of-type(4)  {
			margin-bottom: 0;
		}
	}

	.form-contact-information-container {
		.form-icon-input-field:nth-of-type(1), .form-icon-input-field:nth-of-type(3) {
			padding-left: 0;
		}

		.form-icon-input-field:nth-of-type(2), .form-icon-input-field:nth-of-type(4) {
			padding-right: 0;
		}

		.form-icon-input-field:nth-of-type(3), .form-icon-input-field:last-of-type {
			margin-bottom: 0;
		}
	}

	.number-children-container {
		.form-icon-input-field:nth-of-type(odd) {
			padding-left: 0;
		}

		.form-icon-input-field:nth-of-type(even) {
			padding-right: 0;
		}
	}
}