.align-center{
	text-align: center;
}

.landing-section-header {
	font-size: rem-calc(30px);
	margin-bottom: 3%;
}

.intro-paragraph {
	font-size: rem-calc(20px);
	color: $text-light-grey;
	margin-bottom: 9%;
	text-align: center;
	font-family: $header-font-family;
}

p {
	color: $text-light-grey;
}

.header {
	width: 100vw;
	height: 100vh;
	background: $dark-blue;
	margin-bottom: 10%;

	h2 {
		font-size: rem-calc(34px);
		color: $white;
		line-height: 40px;
		font-weight: bold;
		margin-top: 36px;
	}

	a {
		margin-top: 40px;
	}

	h3 {
		font-size: rem-calc(14px);
		color: $white;
		line-height: 29px;
	}

	.registreren-button {
		background:rgba(216,233,240,0.20);
		border: 1px solid #d8e9f0;
		border-radius: 30px;
		text-decoration: none;
		padding-left: 19px;
		padding-right: 19px;
	}

	.index-header {
		color: $white;
		font-size: rem-calc(45px);
		margin-top: 11%;
	}

	.index-sub-header {
		font-weight: normal;
		margin-bottom: 10%;
	}

	.photo {
		position: relative;
		width: 100%;
		margin-bottom: 7%;
		-webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
	}
}

.veiligheid {

	.veiligheid-item {
		margin-bottom: 5%;
	}

	h2 {
		margin-bottom: 11%;
	}

	h3 {
		color: $text-dark-grey;
		font-size: rem-calc(19px);
	}

	img {
		width: 100%;
	}

	hr {
		margin-bottom: 10%;
	}

	p {
		width: 100%;
		font-size: 13px;
	}
}

.functionaliteiten {
	margin-bottom: 5%;
	text-align: center;

	.opsom-header {
		font-size: rem-calc(24px);
	}

	.centered {
		width: 61px;
		display: block;
  		margin: 28px auto;
	}
	
	.opsom-subheader {
		margin-bottom: 16px;
	}

	p{
		margin-bottom: 40px;

	}
}

.beta {
	background: linear-gradient(-225deg, #57b9f6 0%, #4aa0d5 100%);
	text-align: center;
	padding-bottom: 5%;
	margin-bottom: 3%;

	.landing-section-header {
		font-size: rem-calc(30px);
		margin-top: 11%;
		margin-bottom: 10%;
		text-align: center;
		color: $white;
	}

	.subscribe-button {
		background: rgba(216,233,240,0.20);
		border: 1px solid $light-blue;
		border-radius: 5px;
		width: 100%;
		height: 44px;
		color: $light-blue;
	}

	input:not([type=submit]):not([type=file]), select {

		@include font($paragraph-font-family, italic, regular, 20, 28, $white);
		text-decoration: none;
		background-color: none;
		border-bottom: 1px solid $white;
		padding: 10px 15px 10px 15px;
		margin-bottom: 0;

		&::-webkit-input-placeholder {
			color: $white;
		}

		&::-moz-placeholder {
			color: $white;
		}
	}
}
footer {
	margin-bottom: 3%;
}

@media screen and (max-width: 39.9375em) {
	.intro-paragraph {
		font-size: rem-calc(18px);
		line-height: rem-calc(20px);
		margin-bottom: 9%;
	}

	.header {

		.registreren-button {
			margin-top: 8%;
		}
		.photo {
			position: relative;
			width: 100%;
			margin-top: 5%;
		}

		ul {
			margin-top: 10%;
		}
		
		h2 {
			margin-top: 5%;
		}

		.index-header {
			font-size: rem-calc(28px);
			line-height: rem-calc(30px);
			margin-bottom: 7%;
		}

		.index-sub-header {
			font-size: rem-calc(18px);
			line-height: rem-calc(20px);
			margin-bottom: 7%;
		}
	}

	.veiligheid {
		margin-top: 6%;
		
		h2 {
			margin-top: 12%;
			margin-bottom: 20%;
			font-size: rem-calc(28px);
			line-height: rem-calc(30px);
		}

		h3 {
			font-size: rem-calc(19px);
			line-height: 28px;
		}

		hr {
			margin-top: 7%;
			margin-bottom: 24%;
		}

		p {
			margin-bottom: 15%;
		}

		img {
			max-height: 80px;
		}
	}

	.functionaliteiten {
		margin-bottom: 11%;
		text-align: center;

		h2 {
			margin-top: 5%;
		}

		.landing-section-header {
			font-size: rem-calc(28px);
			line-height: rem-calc(32px);
			margin-bottom: 7%;
		}

		.opsom-header {
			font-size: rem-calc(24px);
			line-height: rem-calc(27px);
			margin-top: 5%;
		}

		.centered {
	  		margin: 5% auto;
	  		margin-bottom: 7%;
		}
		
		.opsom-subheader {
			margin-bottom: 5%;
		}

		p{
			margin-bottom: 9%;
		}
	}

	.beta {
		padding-bottom: 10%;
		margin-bottom: 3%;

		.subscribe-button {
			margin-top: 5%;
		}

		input:not([type=submit]):not([type=file]), select {

			margin-bottom: 7%;
			margin-top: 5%;
		}
	}

	.social-media {
		margin-top: 3%;
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.veiligheid {

		img {
			min-width: 70px;
			max-width: 70px;
		}
	}

	.functionaliteiten {
		margin-bottom: 5%;
		text-align: center;

		h2 {
			margin-top: 5%;
		}

		.negmarg {
			margin-bottom: 0;
		}

		.landing-section-header {
			font-size: rem-calc(28px);
			line-height: rem-calc(32px);
			margin-bottom: 7%;
		}

		.centered {
	  		margin: 5% auto;
	  		margin-bottom: 7%;
		}
		
		.opsom-subheader {
			margin-bottom: 5%;
		}
	}

	.beta {

		.subscribe-button {
			margin-top: 5%;
		}

		input:not([type=submit]):not([type=file]), select {

			margin-bottom: 7%;
			margin-top: 5%;
		}
	}
}