// Password reset mail panel

.full-width-password-reset .row {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.password-reset-input-panel {
	background-color: $light-grey;
	padding: 35px 30px 35px 30px;
	border-radius: 3px;
	box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.2);

	.password-reset-header {
		font-size: rem-calc(30);
		text-align: center;
	}

	.blue-horizontal-line {
		text-align: center !important;
		display: inline-block;
	}

	.password-reset-instructions p {
		@include font($paragraph-font-family, regular, regular, 14, 21, rgba($text-dark-grey, 0.8));
		text-align: left;
		margin-bottom: 35px;
	}

	.password-reset-button {
		@include button($light-red, 3px);
		width: 100%;
	}

	.confirmation-icon {
		font-size: rem-calc(60);
		color: $dark-blue;
	}

	h3 {
		@include font($header-font-family, regular, regular, 20, 20, rgba($text-dark-grey, 0.6));
		margin: 20px 0 30px 0;
	}

	.success-message {
		@include font($paragraph-font-family, regular, regular, 14, 21, rgba($text-dark-grey, 0.6));
		text-align: center;
	}

	.confirmation-button, .password-reset-login-button {
		margin-top: 40px;
		@include button($light-red, 3px);
		text-decoration: none;
		display: block;
		width: 100%;
	}

	.password-reset-profile-information {
		background-color: darken($light-grey, 5%);
		width: 100%;
		margin: 0 0 35px 0;
		padding: 10px;
		border-radius: 3px;
		text-align: center;

		li {
			list-style-type: none;
			display: inline;
		}

		li:first-child {
			margin-right: 10px;
		}

		li:first-child img {
			width: 40px;
			height: 40px;
			border-radius: 40px;
		}

		li:nth-child(2) {
			@include font($paragraph-font-family, regular, regular, 14, 21, rgba($text-dark-grey, 0.6));
		}
	}
}

// Responsiveness

@include breakpoint(small only) {
	.full-width-password-reset .row {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.password-reset-input-panel {
		.password-reset-header {
			font-size: rem-calc(25);
			text-align: center;
		}
	}
}