.align-center {
	text-align: center;
}

.intro-paragraph {
	font-size: rem-calc(20px);
	color: $text-light-grey;
	margin-bottom: 9%;
	text-align: center;
	font-family: $header-font-family;
}

p {
	color: $text-light-grey;
}

.full-width {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.full-height-gradient {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	background: linear-gradient(-225deg, #57B9F6 0%, $dark-blue 100%);
	left: 0;
	top: 0;
	position: absolute;
	z-index: -1;
}

.header {
	@include grid-row;
	margin-top: 40px;

	h2 {
		@include breakpoint(small) {
			@include font($header-font-family, regular, bold, 28, 34, $text-white);
		}

		@include breakpoint(medium) {
			@include font($header-font-family, regular, bold, 34, 32, $text-white);
		}
	}

	.register-button {
		@include button(rgba($light-blue, 0.2), 30px);
		border: 1px solid $light-blue;
		text-decoration: none;
		text-align: center;
		margin-top: 0;

		&:hover, &:focus, &:active {
			background: darken(rgba($light-blue, 0.2), 20%);
		}
	}

	.index-header {
		@include font($header-font-family, regular, regular, 45, 54, $text-white);
		margin: 120px 0 30px 0;
	}

	.index-subheader {
		@include font($header-font-family, regular, regular, 30, 37, $light-blue);
		margin-bottom: 120px;
	}

	.advert-overview-preview {
		position: relative;
		-webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
	}
}

.features {
	@include grid-row;
	margin-top: 120px;
	margin-bottom: 100px;

	.feature-header {
		@include font($header-font-family, regular, regular, 28, 37, $text-dark-grey);
		text-align: center;
		margin-bottom: 120px;
	}

	.feature-item {
		margin-bottom: 5%;
		
		img {
			margin-top: 5px;
		}

		h3 {
			@include font($header-font-family, regular, regular, 22, 26.4, $text-dark-grey);
		}

		hr {
			margin-bottom: 20px;
		}

		p {
			@include font($paragraph-font-family, regular, regular, 14, 19, rgba($text-dark-grey, 0.4));
		}
	}
}

.functionaliteiten {
	margin-bottom: 5%;
	text-align: center;

	.opsom-header {
		font-size: rem-calc(24px);
	}

	.centered {
		width: 61px;
		display: block;
  		margin: 28px auto;
	}
	
	.opsom-subheader {
		margin-bottom: 16px;
	}

	p{
		margin-bottom: 40px;

	}
}

.beta {
	background: linear-gradient(-225deg, #57b9f6 0%, #4aa0d5 100%);
	text-align: center;
	padding-bottom: 5%;
	margin-bottom: 3%;

	.landing-section-header {
		font-size: rem-calc(30px);
		margin-top: 11%;
		margin-bottom: 10%;
		text-align: center;
		color: $white;
	}

	.subscribe-button {
		background: rgba(216,233,240,0.20);
		border: 1px solid $light-blue;
		border-radius: 5px;
		width: 100%;
		height: 44px;
		color: $light-blue;
	}

	.subscribe-button:hover, 
	.subscribe-button:focus,
	.subcribe-button:active {
	  	background-color: darken(#6CB7E3, 10%);
	}

	input:not([type=submit]):not([type=file]), select {

		@include font($paragraph-font-family, italic, regular, 20, 28, $white);
		text-decoration: none;
		background-color: none;
		border-bottom: 1px solid $white;
		padding: 10px 15px 10px 15px;
		margin-bottom: 0;

		&::-webkit-input-placeholder {
			color: $white;
		}

		&::-moz-placeholder {
			color: $white;
		}
	}
}
footer {
	margin-bottom: 3%;
}

@media screen and (max-width: 39.9375em) {
	.intro-paragraph {
		font-size: rem-calc(18px);
		line-height: rem-calc(20px);
		margin-bottom: 9%;
	}

	.functionaliteiten {
		margin-bottom: 11%;
		text-align: center;

		h2 {
			margin-top: 5%;
		}

		.landing-section-header {
			font-size: rem-calc(28px);
			line-height: rem-calc(32px);
			margin-bottom: 7%;
		}

		.opsom-header {
			font-size: rem-calc(24px);
			line-height: rem-calc(27px);
			margin-top: 5%;
		}

		.centered {
	  		margin: 5% auto;
	  		margin-bottom: 7%;
		}
		
		.opsom-subheader {
			margin-bottom: 5%;
		}

		p{
			margin-bottom: 9%;
		}
	}

	.beta {
		padding-bottom: 10%;
		margin-bottom: 3%;

		.subscribe-button {
			margin-top: 5%;
		}

		input:not([type=submit]):not([type=file]), select {

			margin-bottom: 7%;
			margin-top: 5%;
		}
	}

	.social-media {
		margin-top: 3%;
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.functionaliteiten {
		margin-bottom: 5%;
		text-align: center;

		h2 {
			margin-top: 5%;
		}

		.negmarg {
			margin-bottom: 0;
		}

		.landing-section-header {
			font-size: rem-calc(28px);
			line-height: rem-calc(32px);
			margin-bottom: 7%;
		}

		.centered {
	  		margin: 5% auto;
	  		margin-bottom: 7%;
		}
		
		.opsom-subheader {
			margin-bottom: 5%;
		}
	}

	.beta {

		.subscribe-button {
			margin-top: 5%;
		}

		input:not([type=submit]):not([type=file]), select {

			margin-bottom: 7%;
			margin-top: 5%;
		}
	}
}