.full-width {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.full-height-gradient {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	background: linear-gradient(-225deg, #57B9F6 0%, $dark-blue 100%);
	left: 0;
	top: 0;
	position: absolute;
	z-index: -1;
}

.header {
	@include grid-row;
	margin-top: 40px;

	h2 {
		@include breakpoint(small) {
			@include font($header-font-family, regular, bold, 28, 34, $text-white);
		}

		@include breakpoint(medium) {
			@include font($header-font-family, regular, bold, 34, 32, $text-white);
		}
	}

	.register-button {
		@include button(rgba($light-blue, 0.2), 30px);
		border: 1px solid $light-blue;
		text-decoration: none;
		text-align: center;
		margin-top: 0;

		&:hover, &:focus, &:active {
			background: darken(rgba($light-blue, 0.2), 20%);
		}
	}

	.index-header {
		@include font($header-font-family, regular, regular, 45, 54, $text-white);
		margin: 120px 0 30px 0;
	}

	.index-subheader {
		@include font($header-font-family, regular, regular, 30, 37, $light-blue);
		margin-bottom: 120px;
	}

	.advert-overview-preview {
		position: relative;
		-webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
	}
}

.features {
	@include grid-row;
	margin-top: 120px;
	margin-bottom: 100px;

	.feature-header {
		@include font($header-font-family, regular, regular, 28, 37, $text-dark-grey);
		text-align: center;
		margin-bottom: 120px;
	}

	.feature-item {
		margin-bottom: 5%;
		
		img {
			margin-top: 5px;
		}

		h3 {
			@include font($header-font-family, regular, regular, 22, 26.4, $text-dark-grey);
		}

		hr {
			margin-bottom: 20px;
		}

		p {
			@include font($paragraph-font-family, regular, regular, 14, 19, rgba($text-dark-grey, 0.4));
		}
	}
}

.functionalities {
	@include grid-row;
	margin-bottom: 120px;

	.functionality-header {
		@include font($header-font-family, regular, regular, 28, 37, $text-dark-grey);
		text-align: center;
		margin-bottom: 25px;
	}

	.red-horizontal-line {
		text-align: center !important;
		display: inline-block;
	}

	.functionality-subheader {
		@include font($header-font-family, regular, regular, 20, 24, rgba($text-dark-grey, 0.4));
		text-align: center;
		margin-bottom: 100px;
	}

	.functionality-item-header {
		@include font($header-font-family, regular, regular, 24, 29, $text-dark-grey);
	}

	section {
		margin-bottom: 40px;

		.functionality-item-subheader {
			@include font($header-font-family, regular, regular, 18, 23, $text-dark-grey);
			margin-bottom: 15px;
		}

		p {
			@include font($paragraph-font-family, regular, regular, 14, 19, rgba($text-dark-grey, 0.4));
		}
	}
}

.beta-registration-full-width {
	min-width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.beta-registration-gradient {
	min-width: 100vw;
	background: linear-gradient(-225deg, #57B9F6 0%, $dark-blue 100%);
	padding: 90px 0 90px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.beta-registration {
	@include grid-row;

	.beta-registration-header {
		@include font($header-font-family, regular, regular, 30, 45, $text-white);
		text-align: center;
		margin-bottom: 85px;
	}

	.subscribe-button {
		@include button(rgba($light-blue, 0.2), 3px);
		border: 1px solid $light-blue;
		text-decoration: none;
		text-align: center;
		margin-top: 0;
		width: 100%;

		&:hover, &:focus, &:active {
			background: darken(rgba($light-blue, 0.2), 20%);
		}
	}

	input:not([type=submit]):not([type=file]) {
		@include font($paragraph-font-family, italic, regular, 16, 16, $white);
		text-decoration: none;
		background-color: none;
		border-bottom: 1px solid $white;
		padding: 0 50px 0 0;
		margin-bottom: 0;

		&::-webkit-input-placeholder {
			color: $white;
			margin-bottom: 20px;
		}

		&::-moz-placeholder {
			color: $white;
		}
	}
}

footer {
	@include grid-row;
	margin-top: 50px;
	margin-bottom: 50px;

	.platform-links, .social-media-links {
		list-style-type: none;
		
		li {
			display: inline;
			margin: 0 10px 0 10px;
		}

		li:first-child {
			margin-left: 0;
		}

		li:last-child {
			margin-right: 0;
		}

		a {
			@include font($header-font-family, regular, regular, 18, 24, $text-dark-grey);
			text-decoration: none;
		}
	}
}