.full-width {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $dark-blue;
}

/*.registration-panel {
	background-color: $light-grey;
	padding: 35px 30px 35px 30px;
	height: auto;
}*/

.registration-introduction-panel {
	background-image: url(../assets/registration/registration-introduction-photo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 35px 30px 35px 30px;

	h1 {
		font-family: "sofia-pro-soft", sans-serif;
		font-weight: regular;
		color: $text-white;
		font-size: rem-calc(30);
		line-height: 45px;
	}

	p {
		font-family: "open-sans", sans-serif;
		font-weight: regular;
		color: $text-white;
		font-size: rem-calc(14);
		line-height: rem-calc(19);
	}

	.social-links-container {
		.icon {
			margin: 0 6px 0 6px;
		}

		svg {
			width: 40px;
			height: 40px;
			fill: $white;

			&:hover {
				fill: rgba($white, 0.75);
			}
		}
	}
}

.registration-input-panel {
	background-color: $light-grey;
	padding: 35px 30px 35px 30px;

  	h1 {
		font-family: "sofia-pro-soft", sans-serif;
		font-weight: regular;
		font-size: rem-calc(30);
		color: $text-dark-grey;
	}

	hr {
		border: 2px solid $light-red;
		border-radius: 3px;
		width: 10%;
		margin: 20px 0 30px 0;
	}

	form input {
		background-color: transparent;
		box-shadow: none !important;
		text-decoration: none;
		border-style: solid;
		border: none;
		border-bottom: 1px solid rgba($dark-grey, 0.4);
		font-family: "open-sans", sans-serif;
		font-style: italic;
		font-size: rem-calc(14);
		color: rgba($dark-grey, 0.4);
		padding: 0 0 15px 0;
		margin-bottom: 30px;

		&:focus {
			background-color: transparent;
			text-decoration: none;
			border: none;
			border-bottom: 1px solid rgba($dark-grey, 0.4);
		}
	}

	.terms_conditions {
		font-family: "open-sans", sans-serif;
		font-weight: regular;
		font-size: rem-calc(12);
	}

	.create-account-btn {
		font-family: "open-sans", sans-serif;
		font-weight: regular;
		font-size: rem-calc(14);
		color: $text-white;
		background-color: $light-red;
		border-radius: 3px;
		border: none;
		padding: 10px 25px 10px 25px;
	}
}