// Error callout(s)

.error-callout {
	@include font($paragraph-font-family, normal, bold, 12, 12, $light-red);
	padding: 0;
	margin: 0 0 30px 0;
}

.form-error {
	margin-top: -10px !important;
	margin-bottom: 20px;
	@include font($paragraph-font-family, normal, regular, 12, 12, $light-red);
	text-align: left !important;
}