// Styling of the datepicker

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

.ui-datepicker {
    display: none;
    cursor: default;
}

.ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}
 
.ui-datepicker-title { text-align: center; }
 
.ui-datepicker-month {
    position: relative;
}

i-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    padding: 5px;
    cursor: pointer;
}
 
.ui-datepicker-prev {
    padding-left: 0;
}
 
.ui-datepicker-next {
    padding-right: 0;
}

.ui-datepicker-calendar th {
    padding-top: 15px;
    padding-bottom: 10px;
 
    text-align: center;
    font-weight: normal;
}

.ui-datepicker-calendar td {
    padding: 0 7px;
 
    text-align: center;
    line-height: 26px;
}
 
.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 26px;
    outline: none;
 
    text-decoration: none;
    color: #a8a8a8;
 
    border: 1px solid transparent;
}

.ui-datepicker-calendar .ui-state-active {
    color: #6a9113;
    border: 1px solid #6a9113;
}
 
.ui-datepicker-other-month .ui-state-default { color: #565656; }


// Hiding weekends from the calendar
th.ui-datepicker-week-end,
td.ui-datepicker-week-end {
    display: none;
}

.advert-availability-input-fields {
	height: 400px;
	overflow-y: auto;
}