// Styling of all available horizontal line(s)

// Blue horizontal line

.blue-horizontal-line {
	border: 2px solid $dark-blue;
	border-radius: 3px;
	width: 60px;
	margin: 20px 0 35px 0;
}

// Red horizontal line
.red-horizontal-line {
	border: 2px solid $light-red;
	border-radius: 3px;
	width: 60px;
	margin: 20px 0 35px 0;
}