// Styling of all input fields displayed in forms

input:not([type=submit]):not([type=file]) {
	background-color: transparent;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	text-decoration: none;
	border: none;
	border-bottom: 1px solid rgba($dark-grey, 0.4);
	font-family: "open-sans", sans-serif;
	font-style: italic;
	font-size: rem-calc(14);
	color: rgba($dark-grey, 0.4);
	padding: 0 0 15px 0;
	margin-bottom: 30px;

	&:focus, &:hover, &:active {
		background-color: transparent;
		text-decoration: none;
		border: none;
		border-bottom: 1px solid rgba($dark-grey, 0.6);
	}
}

// Removes the background color of autofill feature in browsers

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgba($text-dark-grey, 0.4) !important;
}