// Styling of the top-bar used for small and medium screens

.top-bar-mobile {
	@include hide-for(large);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	height: 60px;
	background-color: $white;
	position: relative;
	z-index: 0;

	span:first-child, span:last-child, span:nth-child(2) {
		align-self: center;
	}

	span:nth-child(2) {
		@include font($header-font-family, regular, bold, 25, 35, rgba($text-dark-grey,0.8));
	}

	span:first-child {
		margin-left: 5%;

		&:before {
			font-size: rem-calc(22);
			color: rgba($text-dark-grey, 0.8);
			vertical-align: middle;
		}
	}

	span:last-child {
		margin-right: 5%;

		&:before {
			font-size: rem-calc(22);
			color: rgba($text-dark-grey, 0.8);
			vertical-align: middle;
		}
	}
}

.mobile-menu-background {
	min-width: 100vw;
	min-height: 100vh;
	background-color: rgba($dark-grey, 0.5);
	position: fixed;
	opacity: 0;
	display: none;
	z-index: 1;
}

.mobile-menu-panel {
	width: 285px;
	left: -285px;
	height: 100%;
	background-color: $light-grey;
	position: absolute;
	z-index: 2;
	box-shadow: 0px 19px 38px 0px rgba(0,0,0,0.2);

	.close-button {
		color: $white;

		&:hover {
			color: darken($white, 5%);
		}
	}

	.profile-information {
		background: linear-gradient(-225deg, #57B9F6 0%, $dark-blue 100%);
		padding: 30px 0 20px 0;

		ul {
			margin-bottom: 0;
		}

		ul li {
			list-style-type: none;
		}

		ul li a {
			@include font($paragraph-font-family, regular, 600, 20, 20, $text-white);
			text-decoration: none;
		}

		ul li img {
			width: 60px;
			height: 60px;
			border-radius: 60px;
			margin-bottom: 20px;
		}
	}

	.create-advert {
		width: 100%;
		background-color: $light-red;
		text-align: left;
		padding: 15px 25px 15px 20px;

		a {
			text-decoration: none;
			color: $text-white;
		}

		&:hover {
			background-color: darken($light-red, 5%);
			transition: all 0.3s ease 0s;
		}
	}

	.menu-links, .profile-links {
		li:first-child {
			border-top: none;
		}
	}

	.copyright-link {
		position: absolute;
		bottom: 0;
		padding: 0 0 0 20px;
		margin-bottom: 20px;

		p {
			@include font($header-font-family, regular, 400, 14, 14, $text-dark-grey);
			margin-bottom: 0;
		}

		[data-icon="i"] {
			color: lighten(red, 15%);
			vertical-align: middle;
			margin: 0 2px 0 2px;
		}
	}
}

.menu-links, .profile-links {
	padding: 0;
	width: 100%;

	div {
		@include font($paragraph-font-family, regular, 500, 14, 19, rgba($text-dark-grey, 0.8));
		padding: 12px 0 12px 20px;
		background-color: darken($light-grey, 5%);
	}

	ul {
		margin: 0;

		li {
			list-style-type: none;
			padding: 15px 0 15px 20px;
			border-top: 1px solid darken($light-grey, 15%);
		}

		li a {
			@include font($paragraph-font-family, regular, 500, 14, 19, rgba($text-dark-grey, 0.8));
			text-decoration: none;
		}

		li:hover {
			background-color: darken($light-grey, 5%);
		}
	}
}

// Slide-right animation for mobile navigation

.animate-slide-right {
	-webkit-animation: slide-right 0.5s forwards;
	-webkit-animation-delay: 0s;
	animation: slide-right 0.5s forwards;
	animation-delay: 0s;
}

@-webkit-keyframes slide-right {
    from { left: -285px; }
    to   { left: 0; }
}

@keyframes slide-right {
    from { left: -285px; }
    to   { left: 0; }
}

// Slide-left animation for mobile navigation

.animate-slide-left {
	-webkit-animation: slide-left 0.5s forwards;
	-webkit-animation-delay: 0s;
	animation: slide-left 0.5s forwards;
	animation-delay: 0s;
}

@-webkit-keyframes slide-left {
    from { left: 0; }
    to   { left: -285px; }
}

@keyframes slide-left {
    from { left: 0; }
    to   { left: -285px; }
}

// Fade-in animation for mobile navigation background

.animate-fade-in {
	-webkit-animation: fade-in 0.5s forwards;
	animation: fade-in 0.5s forwards;
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

// Fade-out animation for mobile navigation background

.animate-fade-out {
	-webkit-animation: fade-out 0.5s forwards;
	animation: fade-out 0.5s forwards;
}

@keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-webkit-keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}

// Styling of the top-bar used for large and xlarge screens

.top-bar {
	@include show-for(large);
	height: 60px;
	background-color: $white;
	padding: 8px 0 8px 0;

	.top-bar-title {
		@include font($header-font-family, regular, bold, 25, 35, rgba($text-dark-grey,0.8));
		margin-right: 0;
		margin-top: 3px;
	}
}

.top-bar-right {
	.menu {
		background-color: $white;

		li a {
			margin: 0 25px 0 25px;
			padding-left: 0;
			padding-right: 0;
		}

		li:nth-child(2) a {
			margin-left: 25px;
		}

		li:nth-child(4) a {
			margin-right: 0;
		}

		li:nth-child(5) a {
			font-size: rem-calc(25);
			margin: 0 35px 0 35px;
		}

		.user-dropdown-menu li a {
			margin: 0 0 0 20px;
			padding-right: 35px;
		}

		.user-dropdown-menu li a::after {
			border-color: rgba($text-dark-grey, 0.8) transparent transparent;
		}
	}

	a {
		@include font($paragraph-font-family, regular, semi-bold, 14, 19, rgba($text-dark-grey,0.8));
		text-decoration: none;
	}

	.provide-services-button {
		@include font($paragraph-font-family, regular, regular, 14, 19, rgba($text-dark-grey,0.8));
		border: 1px solid rgba($text-dark-grey, 0.8);
		border-radius: 3px;
		padding: 7px 15px 7px 15px !important;
		
		&:hover {
			background-color: rgba($dark-grey, 0.1);
		}
	}

	.user-profile-image {
		border-radius: 50px;
	}
}