// All color variables are placed here

// Global color variables
$dark-grey: #454553;
$light-grey: #F3F3F3;
$white: #FFFFFF;
$dark-blue: #4AA0D5;
$light-blue: #D8E9F0;
$light-red: #F37A7D;

// Text color variables
$text-dark-grey: #454553;
$text-white: #FFFFFF;

// Border color variables
$border-color-dark-grey: #D8D8D8;